# Ignores
\.DS_Store
\.classpath
\.project
\.settings
\.metadata/
Servers/
target/
.idea
.vagrant
.vscode
*.deb
*.venv
##code-server-ec2
##simple-frontend-backend-ecs
##simple-php-ts-ecs
#stack-pipeline
#api-lambda-pipeline
output.json
